# L3 - SNEI
Provided by Marc Sevaux

Ce notebook contient des instructions et des commandes à réaliser pendant la session. Ce travail est à rendre comme spécifié dans les instructions. Attention, c'est un travail personnel qui vous est demandé ici.

## Ecriture de fonctions

### Ecrire une fonction qui converti les kilomètres en miles

In [1]:
"fonction qui converti les kilomètres en miles"
function ki2mi(km)
    km /1.60934
end

ki2mi

### Ecrire la fonction réciproque

In [2]:
function mi2ki(mi)
    mi*1.60934
end

mi2ki (generic function with 1 method)

### Ecrire une fonction qui converti des litres en gallons (américain)

In [3]:
function li2ga(li)
    li/3.78541
end

li2ga (generic function with 1 method)

### Ecrire la fonction réciproque

In [4]:
function ga2li(ga)
    ga*3.78541
end

ga2li (generic function with 1 method)

## Application des fonctions
- Créer un tableau avec les valeurs de 0 à 100 par pas de 10
- Avec une boucle _for_, appliquer la conversion en miles

In [5]:
# km = [i for i in 0:10:100]
# km = [i*10 for i in 0:10]
km = collect(0:10:100)

11-element Array{Int64,1}:
   0
  10
  20
  30
  40
  50
  60
  70
  80
  90
 100

In [6]:
for i in 1:length(km)
    println(ki2mi(km[i]))
end

0.0
6.213727366498068
12.427454732996136
18.641182099494202
24.85490946599227
31.068636832490338
37.282364198988404
43.49609156548647
49.70981893198454
55.923546298482606
62.137273664980675

- Créer un tableau _mi_ avec les valeurs de 5 à 105 par pas de 5
- Avec une boucle _for_ afficher la conversion en kilomètres de chacune des valeurs de _mi_

In [7]:
mi = collect(5:5:105)

21-element Array{Int64,1}:
   5
  10
  15
  20
  25
  30
  35
  40
  45
  50
  55
  60
  65
  70
  75
  80
  85
  90
  95
 100
 105

In [8]:
for i in 1:length(mi)
    println(mi2ki(mi[i]))
end

8.0467
16.0934
24.1401
32.1868
40.2335
48.2802
56.3269
64.3736
72.4203
80.467
88.5137
96.5604
104.6071
112.6538
120.7005
128.7472
136.7939
144.8406
152.8873
160.934
168.9807

- Créer un tableau _li_ avec les valeurs de 1 à 30 par pas de 0.5
- Créer un nouveau tableau _ga_ issu de la conversion en gallons en utilisant les subtilités de julia qui permettent d'appliquer une fonction sur toutes les valeurs d'un tableau (il existe pluseurs solutions possibles - plusieurs réponses seront appréciées)
- Vous pouvez créer autant de cellules que de réponses

In [9]:
# li = [i for i in 1:0.5:30]
li = collect(1:0.5:30)

59-element Array{Float64,1}:
  1.0
  1.5
  2.0
  2.5
  3.0
  3.5
  4.0
  4.5
  5.0
  5.5
  6.0
  6.5
  7.0
  ⋮
 24.5
 25.0
 25.5
 26.0
 26.5
 27.0
 27.5
 28.0
 28.5
 29.0
 29.5
 30.0

In [10]:
ga = map(li2ga,li)

59-element Array{Float64,1}:
 0.26417217685798894
 0.39625826528698344
 0.5283443537159779
 0.6604304421449724
 0.7925165305739669
 0.9246026190029614
 1.0566887074319558
 1.1887747958609503
 1.3208608842899447
 1.4529469727189392
 1.5850330611479337
 1.7171191495769282
 1.8492052380059227
 ⋮
 6.472218333020729
 6.604304421449724
 6.736390509878718
 6.868476598307713
 7.000562686736707
 7.132648775165702
 7.264734863594696
 7.396820952023691
 7.528907040452685
 7.66099312888168
 7.793079217310674
 7.925165305739669

In [11]:
ga = broadcast(li2ga,li)

59-element Array{Float64,1}:
 0.26417217685798894
 0.39625826528698344
 0.5283443537159779
 0.6604304421449724
 0.7925165305739669
 0.9246026190029614
 1.0566887074319558
 1.1887747958609503
 1.3208608842899447
 1.4529469727189392
 1.5850330611479337
 1.7171191495769282
 1.8492052380059227
 ⋮
 6.472218333020729
 6.604304421449724
 6.736390509878718
 6.868476598307713
 7.000562686736707
 7.132648775165702
 7.264734863594696
 7.396820952023691
 7.528907040452685
 7.66099312888168
 7.793079217310674
 7.925165305739669

In [12]:
ga = li2ga.(li)

59-element Array{Float64,1}:
 0.26417217685798894
 0.39625826528698344
 0.5283443537159779
 0.6604304421449724
 0.7925165305739669
 0.9246026190029614
 1.0566887074319558
 1.1887747958609503
 1.3208608842899447
 1.4529469727189392
 1.5850330611479337
 1.7171191495769282
 1.8492052380059227
 ⋮
 6.472218333020729
 6.604304421449724
 6.736390509878718
 6.868476598307713
 7.000562686736707
 7.132648775165702
 7.264734863594696
 7.396820952023691
 7.528907040452685
 7.66099312888168
 7.793079217310674
 7.925165305739669

---------------
# Graphiques
Dans cette partie, vous devez créer un tableau avec des consommations en l/100 allant de 3,5 l/100km à 18 l/100km par pas de 0,5 l/100km. Créez aussi un second tableau qui contient les consommations équivalente transcrites par votre fonction apropriée. Tracez la courbe entre ces deux valeurs avec les différents types de graphiques (lignes, points, barres).

In [ ]:
...

---------------
# Fonctions complexes
Dans cette partie, vous allez créer des fonctions complexes qui devront faire appel à des fonctions que vous avez déjà créé auparavant

La consommation des véhicules en France est donnée en nombre de litres consommés pour 100 km (l100). Aux USA, cette consommation est données en milles effectués pour un gallon d'essence (mpg). Ecrivez les deux fonctions de conversion des consommations FR->US et US->FR. Ces deux fonctions doivent faire appel aux fonctions de la section précédente. N'oubliez pas que vous pouvez mettre des commentaires en ligne en les faisant précéder d'un #

In [13]:
function consFRUS(l100)
    # on transforme les litres en gallons
    gal = li2ga(l100)
    # on transforme les 100 km en miles
    mil = ki2mi(100)
    # on calcule la distance parcourrue en miles pour 1 gallon
    return mil / gal
end

consFRUS (generic function with 1 method)

In [14]:
function consUSFR(mpg)
    # On transforme les miles en kilometres
    kil = mi2ki(mpg)
    # on transforme le galon en litre
    lit = ga2li(1)
    # on ajuste le nombre de litres pour 100 km
    return lit / kil * 100
end

consUSFR (generic function with 1 method)

## Application des fonctions complexes

A partir des informations ci-dessous, créez un dictionnaire contenant le modèle de la voiture et un tuple avec la consommation FR et la consommation US.

### Voitures essence Françaises de 2018 de plus faible consommation
1.	Citroën C3	3,2 L
2.	Renault Clio 4	3,3 L
3.	Peugeot 208	3,5 L
4.	Dacia Sandero 2	3,5 L
5.	Renault Captur	3,6 L
6.	Peugeot 308	3,5 L
7.	Renault Mégane 4	3,7 L
8.	Peugeot 2008	4 L
9.	Peugeot 3008	4 L
10.	Dacia Duster II	4,4 L

### Voitures Américaines les plus vendues en 2018
1. Honda Accord 38 MPG
2. Honda Civic 40 MPG
3. Toyota Camry 41 MPG
4. Chevrolet Impala 30 MPG
5. Nissan Altima 38 MPG
6. Ford Explorer 24 MPG
7. Totyota Corolla 36 MPG
8. Chevrolet Malibu 36 MPG
9. Subaru Legacy 34 MPG
10. Ford Focus 34 MPG

Soyez astucieux dans l'utilisation des fonctions et des méthodes de construction de dictionnaires. L'efficacité prime avant le résultat.

In [39]:
DicoFR = Dict() # creation d'un dictionnaire pour les voitures francaises

Dict{Any,Any} with 0 entries

In [42]:
# remplissage a la main
DicoFR["Citroën C3"] = (3.2, consFRUS(3.2))
DicoFR["Renault Clio 4"] = (3.3,consFRUS(3.3))
DicoFR["Peugeot 208"] =  (3.5,consFRUS(3.5))
DicoFR["Dacia Sandero 2"] = (3.5,consFRUS(3.5))
DicoFR["Renault Captur"] = (3.6,consFRUS(3.6))
DicoFR["Peugeot 308"] = (3.5,consFRUS(3.5))
DicoFR["Renault Mégane 4"] = (3.7,consFRUS(3.7))
DicoFR["Peugeot 2008"] = (4,consFRUS(4))
DicoFR["Peugeot 3008"] = (4,consFRUS(4))
DicoFR["Dacia Duster II"]= (4.4,consFRUS(4.4))
# affichage du dictionnaire
DicoFR

Dict{Any,Any} with 10 entries:
  "Dacia Duster II"  => (4.4, 53.458)
  "Peugeot 2008"     => (4, 58.8038)
  "Renault Captur"   => (3.6, 65.3375)
  "Dacia Sandero 2"  => (3.5, 67.2043)
  "Renault Mégane 4" => (3.7, 63.5716)
  "Citroën C3"       => (3.2, 73.5047)
  "Renault Clio 4"   => (3.3, 71.2773)
  "Peugeot 208"      => (3.5, 67.2043)
  "Peugeot 308"      => (3.5, 67.2043)
  "Peugeot 3008"     => (4, 58.8038)

In [51]:
# remplissage d'un tableau t avec les inforations minimales
t = [
    ["Honda Accord", 38],
    ["Honda Civic", 40],
    ["Toyota Camry", 41],
    ["Chevrolet Impala", 30],
    ["Nissan Altima", 38],
    ["Ford Explorer", 24],
    ["Totyota Corolla", 36],
    ["Chevrolet Malibu", 36],
    ["Subaru Legacy", 34],
    ["Ford Focus", 34]
];

In [52]:
DicoUS = Dict() # creation du dictionnaire pour les voitures americaines
# remplissage automatique du dictionnaire
for i in 1:length(t)
    DicoUS[t[i][1]] = (t[i][2], consUSFR(t[i][2]))
end
DicoUS

Dict{Any,Any} with 10 entries:
  "Subaru Legacy"    => (34, 6.91809)
  "Ford Focus"       => (34, 6.91809)
  "Honda Civic"      => (40, 5.88038)
  "Chevrolet Malibu" => (36, 6.53375)
  "Ford Explorer"    => (24, 9.80063)
  "Nissan Altima"    => (38, 6.18987)
  "Chevrolet Impala" => (30, 7.8405)
  "Honda Accord"     => (38, 6.18987)
  "Totyota Corolla"  => (36, 6.53375)
  "Toyota Camry"     => (41, 5.73695)